body {
  background: #fafafa;
  max-width: 768px;
  margin: auto;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: blue;
  color: white;
  padding: 8px 12px;
}
button:hover {
  filter: brightness(0.9);
}

.app {
  background: white;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: center;
  align-items: center;
  padding: 32px auto;
  margin: 32px;
}

.active {
  background-color: blue;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
}

.box {
  padding: 16px 24px;
  box-shadow: 5px 8px 18px #ccc;
  border-radius: 8px;
}